@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #202124;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #636466;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  cursor: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #636466;
  border-radius: 10px;
  border: 2px solid #202124;
}

::-webkit-scrollbar-thumb:hover {
  cursor: auto;
}

::-webkit-scrollbar-corner {
  background-color: #202124;
}

.note-container {
  min-height: 100px;
}